.xgenious-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.xgenious-popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.xgenious-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    min-width: 75%;
    scrollbar-width: none;
}

.xgenious-popup-close {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 999;
    border: none;
}
.xgenious-popup-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.1);
}

.xgenious-popup-progress {
    width: 0;
    height: 100%;
    background-color: #4CAF50;
}


/* Banner Two css */
.xgenious-popup .banner-two-wraper {
    padding:42px 20px;
    background-color:#e8d6ff ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.xgenious-popup .banner-two .logo-text {
    color: #001457;
    font-size: 36px;
    font-weight: 800;
    line-height: 1.3;
    margin-top:12px;
}
.xgenious-popup .banner-two .discount-part {
    max-width: 487px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.xgenious-popup .banner-two .discount-part .early-bird{
    background: #FF6745;
    padding: 6px 20px;
    display: flex;
    gap: 8px;
    width: fit-content;
    rotate: -5deg;
    margin-left: auto;
    margin-right: auto;
}
.xgenious-popup .banner-two .discount-part .early-bird h3{
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
}
.xgenious-popup .banner-two .discount-part .discount h3 {
    background: #862BF2;
    padding:10px 20px;
    color:#fff;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;
    rotate: 2deg;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.xgenious-popup .banner-two .pera {
    font-size: 20px;
    line-height: 28px;
    color:#A760FE;
    text-align: center;
}
.xgenious-popup .pera ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.xgenious-popup .pera ul li {
    margin-right: 20px;
    font-size: 20px;
    color: #6d6970;
    font-weight: 700
}

.xgenious-popup .pera ul li i {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #903FF1;
    border-radius: 50%;
    font-size: 14px;
    line-height: 35px;
    color: #fff;
    margin-right: 10px;
}

.xgenious-popup .banner-two .pera .grab-deal-btn {
    background: linear-gradient(#9E4DFF , #600EC0);
    padding: 20px 16px;
    font-size: 26px;
    line-height: 1;
    font-weight: 600;
    display: inline-block;
    border-radius: 100px;
    margin-top: 48px;
    color: #fff;
}

.xgenious-popup .popup_lists svg {
    margin-right: 6px;
    width: 20px;
    height: 20px;
}